<launch>
  <arg name="verbose" default="true"/>
  <node pkg="kinect_streamer_bin" name="kinect_recorder_a"
    type="kinect_recorder_cli" output="screen" args="/media/valencimm/Backup/test_a -f 15 -s 220183535047">
  </node>
  <node pkg="kinect_streamer_bin" name="kinect_recorder_b"
    type="kinect_recorder_cli" output="screen" args="/media/valencimm/Backup/test_b -f 15 -s 097377233947">
  </node>
</launch>
